*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pokemon-ball {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    -webkit-animation: fall .25s ease-in-out, shake 1.25s cubic-bezier(.36, .07, .19, .97) 3;
    animation: fall .25s ease-in-out, shake 1.25s cubic-bezier(.36, .07, .19, .97) 3;
}

.pokemon-ball::before,
.pokemon-ball::after {
    content: "";
    position: absolute;
}

.pokemon-ball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokemon-ball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
}

.button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    -webkit-animation: blink .5s alternate 7;
    animation: blink .5s alternate 7;
}

@-webkit-keyframes blink {
    from {
        background: #eee;
    }
    to {
        background: #e74c3c;
    }
}

@keyframes blink {
    from {
        background: #eee;
    }
    to {
        background: #e74c3c;
    }
}

@-webkit-keyframes shake {
    0 {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
    20% {
        -webkit-transform: translate(-10px, 0) rotate(-20deg);
        transform: translate(-10px, 0) rotate(-20deg);
    }
    30% {
        -webkit-transform: translate(10px, 0) rotate(20deg);
        transform: translate(10px, 0) rotate(20deg);
    }
    50% {
        -webkit-transform: translate(-10px, 0) rotate(-10deg);
        transform: translate(-10px, 0) rotate(-10deg);
    }
    60% {
        -webkit-transform: translate(10px, 0) rotate(10deg);
        transform: translate(10px, 0) rotate(10deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes shake {
    0 {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
    20% {
        -webkit-transform: translate(-10px, 0) rotate(-20deg);
        transform: translate(-10px, 0) rotate(-20deg);
    }
    30% {
        -webkit-transform: translate(10px, 0) rotate(20deg);
        transform: translate(10px, 0) rotate(20deg);
    }
    50% {
        -webkit-transform: translate(-10px, 0) rotate(-10deg);
        transform: translate(-10px, 0) rotate(-10deg);
    }
    60% {
        -webkit-transform: translate(10px, 0) rotate(10deg);
        transform: translate(10px, 0) rotate(10deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes fall {
    0% {
        top: -200px
    }
    60% {
        top: 0
    }
    80% {
        top: -20px
    }
    100% {
        top: 0
    }
}

@keyframes fall {
    0% {
        top: -200px
    }
    60% {
        top: 0
    }
    80% {
        top: -20px
    }
    100% {
        top: 0
    }
}